@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: 'Darker Grotesque', sans-serif;
font-family: 'Philosopher', sans-serif; */
/* #e2e2da
#5d5f48
#7a7c67
#979986
#b5b7a5 */

* {
  font-family: "Darker Grotesque", sans-serif;
}

/* NAVBAR */
#navbar {
  background-color: #5d5f48;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-logo {
  width: 180px;
}

.icon {
  width: 25px;
}

.reset-btn {
  background: none repeat scroll 0 0 transparent;
  border: none;
  border-spacing: 0;
  background-color: transparent;
  font-size: 16px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
  margin: 15px;
}

.reset-btn:active {
  transform: scale(1.5);
}

/* HOME */
#home {
  background-color: #e2e2da;
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home img {
  width: 80vw;
  display: flex;
}

.standard-btn {
  background: #5d5f48;
  color: #e2e2da;
  border: 1px solid #5d5f48;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.42rem;
  margin: 30px;
  padding: 10px;
}

/* SIGN UP */
#sign-up h1 {
  margin-top: 0;
  padding: 20px;
  font-family: "Philosopher", sans-serif;
  color: #7a7c67;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form label {
  font-size: 1.5em;
  margin: 8px 0 4px 0;
}

/* CREATION FORM */
.basic-form-container {
  background-color: #e2e2da;
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* DESTINATIONS */
h1 {
  margin-top: 20px;
  font-family: "Philosopher", sans-serif;
  color: #7a7c67;
}

.destinations-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

#posts-list {
  background-color: #e2e2da;
  width: 100vw;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.post-container {
  text-align: center;
  margin-bottom: 45px;
  text-decoration: none;
}

#title-container {
  text-align: center;
  margin-bottom: 0px;
}

.destinations-title {
  color: #5d5f48;
  font-family: "Philosopher", sans-serif;
  font-size: 1.5em;
  margin: 30px 0 20px 0;
}

.destinations-title:visited {
  color: #979986;
}

.location-icon {
  width: 10px;
  margin-right: 4px;
}

.location-name {
  color: #979986;
  font-size: 1em;
  margin: 4px 0px 10px 0px;
}

/* POST DETAILS */
.post {
  background-color: #e2e2da;
  min-height: calc(100vh - 100px);
}

.post-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

#post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

#country {
  color: #979986;
}

#country span {
  margin-left: 6px;
}

.post-details {
  font-size: 1.5em;
  margin: 8px;
  padding: 0 25px;
}

.post-details-small {
  font-size: 1.4em;
  color: #979986;
  margin: 4px;
}

.standard-btn-post {
  background: #5d5f48;
  color: #e2e2da;
  border: 1px solid #5d5f48;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 5px;
  padding: 7px;
  text-decoration: none;
  width: 70px;
}

#comments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#comment-creation {
  display: flex;
  width: 85%;
  justify-content: center;
}

#comment-section {
  display: flex;
  width: 85%;
  flex-direction: column;
  align-items: center;
}

#comment-section hr {
  width: 85%;
}

#comment {
  width: 85%;
}

textarea {
  width: 300px;
  height: auto;
}

/* PROFILE */
#profile {
  background-color: #e2e2da;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#profile h1 {
  margin: 20px 0;
}

h2 {
  color: #7a7c67;
  font-size: 2em;
  font-weight: 600;
  font-family: "Philosopher", sans-serif;
}

#profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 5px 5px 10px grey;
  object-fit: cover;
}

#profile h4 {
  margin: 4px;
  font-size: 1.5em;
  font-weight: 400;
}

#fav-btn {
  background: #5d5f48;
  color: #e2e2da;
  border: 1px solid #5d5f48;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  font-family: "Philosopher", sans-serif;
  font-size: 25px;
  line-height: 1.42rem;
  margin: 10px;
  padding: 10px;
  width: 135px;
}

/* FAVOURITES */
#favourites-list {
  background-color: #e2e2da;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#favourites-list h2 {
  text-align: center;
}

#each-fav {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

#post-title {
  font-size: 1.5em;
  text-decoration: none;
  color: #7a7c67;
}
